<form id="settingsholder" ng-submit="login()" ng-controller="LoginCtrl">
    <div>
        {{error}}
    </div>
    <div>
        <label for="username">Username</label>
        <input name="username" ng-model="user.request.username" required="required" placeholder="username"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" type="password" ng-model="user.request.password" required="required"  placeholder="password"/>
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>
